<script type="text/javascript" charset="utf-8">
<% @sensors.each do |code, sensor| %>
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "<%= code =%>"
      },
      title: {
	text: "<%= sensor.description =%>"
      },
      xAxis: {
        type: datetime
      },
      yAxis: {
	title: {
          text: "<%= sensor.description =%> (<%= sensor.unit =%>)"
        }
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e %Y", this.x) + ': '+
            Highcharts.numberFormat(this.y, 2);
        }
      },
      series: [{
        pointInterval: <%= 1.second * 1000 =%>,
        pointStart: <%= params[:session] =%>,
        data: <%= @data[sensor.code].inspect =%>,
      }],
    });
  });
<% end %>
</script>
<h1>Sessions#index</h1>
<div id="makeMeScrollable">
	<div class="scrollingHotSpotLeft"></div>
	<div class="scrollingHotSpotRight"></div>
	<div class="scrollWrapper">
		<div class="scrollableArea">
		<% @sensors.each do |sensor| %>
			<div id="<%= sensor.code =%>" style="width:300px; height:125px;"></div>
		<% end %>
		</div>
	</div>
</div>
