<script type="text/javascript">
// Initialize the plugin with no custom options
$(window).load(function() {
	$("div#makeMeScrollable").smoothDivScroll({
		autoScroll: "onstart",
		autoScrollStep: 1, 
		autoScrollInterval: 15,
		visibleHotSpots: "always"
	});
});
</script>
<script type="text/javascript" charset="utf-8">
jQuery(function() {
<% @sensors.each do |code, sensor| %>
    var chart<%= code =%> = new Highcharts.Chart({
      chart: {
        renderTo: '<%= code =%>'
      },
      title: {
        text: '<%= sensor.description =%>'
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: '<%= sensor.description =%> (<%= sensor.unit =%>)'
        }
      },
      legend: {
        enabled: false
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e %Y", this.x) + ': '+
            Highcharts.numberFormat(this.y, 2);
        }
      },
      series: [{
        pointInterval: <%= 1.second * 1000 =%>,
        pointStart: <%= params[:session] =%>,
        data: <%= @data[code].inspect =%>,
      }],
    });
    <% end %>
  });
</script>
<style type="text/css">
#makeMeScrollable
{
	width:90%;
	height:300px;
	position: relative;
}
#makeMeScrollable div.scrollableArea img
{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
#makeMeScrollable div.scrollableArea div
{
        position: relative;
        float: left;
        margin: 0;
        padding: 0;
}
</style>

<h1>Sessions#index</h1>
<div class="container_12">
	<div class="grid_12">		
		<div id="makeMeScrollable">
	        <div class="scrollingHotSpotLeft"></div>
        	<div class="scrollingHotSpotRight"></div>
        	<div class="scrollWrapper">
                <div class="scrollableArea">
					<% @sensors.each do |code, sensor| %>
					<div>
						<div id="<%= code =%>" style="width:350px; height:250px;"></div>
						<center><a href='<%= code =%>'>View</a></center>
					</div>
					<% end %>
                </div>
        	</div>
		</div>
	</div>
	<div class="grid_4">
		<h2>Sensors</h2>
		<ul>
			<% @sensors.each do |code, sensor| %>
				<li><a href='<%= code =%>'>sensor.description</a></li>
			<% end %>
		</ul>
	</div>
	<div class="grid_8">
		&nbsp;
	</div>
</div>
