<script type="text/javascript" charset="utf-8">
  jQuery(function() {
<% @sensors.each do |code, sensor| %>
    var chart<%= code =%> = new Highcharts.Chart({
      chart: {
        renderTo: '<%= code =%>'
      },
      title: {
	text: '<%= sensor.description =%>'
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: '<%= sensor.description =%> (<%= sensor.unit =%>)'
        }
      },
      legend: {
        enabled: false
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e %Y", this.x) + ': '+
            Highcharts.numberFormat(this.y, 2);
        }
      },
      series: [{
        pointInterval: <%= 1.second * 1000 =%>,
        pointStart: <%= params[:session] =%>,
        data: <%= @data[code].inspect =%>,
      }],
    });
    <% end %>
  });
</script>

<h1>Sessions#index</h1>
<% @sensors.each do |code, sensor| %>
<div>
<div id="<%= code =%>" style="width:350px; height:250px;"></div>
<a href='<%= code =%>'>View this chart</a>
</div>
<% end %>
